.context-about-container {
    margin-top: 100px !important;
    margin-bottom: 250px !important;
    inset: 0px;
    width: 80rem;
    max-width: 100vw;
    max-height: 100dvh;
    margin: auto;
    background: rgb(28, 83, 119);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 20px;
    padding: 80px;
    border-radius: 20px;
}

.context-main {
    color: #fafafa;
}

.about-url {
    justify-content: center;
    align-items: center;
}

.link-about {
    color: #3ca1ff;
    text-decoration: underline;
}

.link-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 80px;
}